body {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: black;
  min-height: 100vh;
}

.start-section {
  flex-direction: column;
  color: #fff;
  width: 85%;
}

.start-section h1 {
  text-align: center;
  font-size: 2rem;
  color: #00ffff;
}
.btn {
  background-color: #ffa500;
  border: none;
  padding: 1rem;
  border-radius: 0.35rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 300ms;
}

.btn:active {
  background-color: #ffd689;
  scale: 0.95;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: 900;
}
.form label i {
  padding-left: 0.25rem;
}

.form input {
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.main {
  background-color: rgb(184, 204, 204);
  width: 80vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  display: none;
  box-shadow: inset 0px 0px 10px #000;
}

.celda {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa500;
  color: #000;
  box-shadow: 3px 3px 5px #00000073;
  transition: all 300ms;
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.celda:active {
  scale: 0.96;
  border-radius: 1rem;
  background-color: #00000073;
}

.cont-turner {
  color: #000;
  display: none;
}

.turnoactual {
  background-color: #00ffff;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turnoactual #turn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background-color: #32cd32;
  height: 50px;
  width: 50px;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: inset 2px 2px 5px #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.winner {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #32cd32;
  padding: 2rem;
  border-radius: 1rem;
  color: #000;
  z-index: 100;
  position: relative;
}

.winner span {
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hidden {
  display: none;
}

.alert {
  padding-top: 1rem;
  text-align: center;
  position: fixed; /* Cambié a fixed para que se mantenga visible en la parte superior */
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #cd3232;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  width: 50%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  z-index: 1000;
  display: none;
}
#alert-text{
    padding: 0rem 1rem;
}
.progress-bar {
  height: 10px;
  background-color: #ffffff;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 0%;
  margin-top: 10px;
  transition: width 2s linear;
}

@keyframes hideAlert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
